@font-face {
	font-family: 'GolosTextWebVF';
	src: 
		url('/static/fonts/golos-text_vf.woff2') format('woff2'),
		url('/static/fonts/golos-text_vf.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
    font-family: 'GolosTextWebVF';
}

body {
	transition: background-color 5s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	padding: 2rem 0 1rem;
	text-transform: uppercase;
}

strong {
	text-transform: uppercase;
}